@model DumpDemo.Models.Reference
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*<input type="radio" /><label>@Model.Title</label>
    <input type="radio" /><label>@Model.Publisher</label>
    <input type="radio" /><label>@Model.Year</label>
    <input type="radio" /><label>@Model.Age</label>*@

<div><label>Title</label> @Model.Title</div>
<div><label>Publisher</label> @Model.Publisher</div>
<div><label>Year</label> @Model.Year</div>
<div><label>Age</label> @Model.Age</div>

