
@{
    ViewBag.Title = "Privacy";
}

<h2>Privacy</h2>
<p>In Home</p>

@Html.Partial("Parts/_Inner")
@Html.Partial("Parts/_Inner")
@Html.Partial("Parts/_Inner")
@Html.Partial("Parts/_Inner")
@Html.Partial("Parts/_Inner")
